@model Joole.Models.CUSTOMER

@{
    ViewBag.Title = "Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Display</h2>

<div>
    <h4>CUSTOMER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.USERNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USERNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PASSWORD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PASSWORD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FULLNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FULLNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PICTURE)
        </dt>

        <dd>
            <img src="@Url.Content(Model.PICTURE)" width="250" height="250" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CUSTOMERID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
